---
title: FreeCodeCamp
description: Learn CSS Flexbox by Building 5 Responsive Layouts.
tags: primary
layout: base
---
<p><a href="https://www.freecodecamp.org/news/learn-flexbox-build-5-layouts/">website</a></p>
<h2>Flexbox Architecture</h2>
<img src="{{ '/assets/images/flexbox-architecture.png' | url }}" alt="Flexbox Architecture">
<h2>Flexbox Chart</h2>
<img src="{{ '/assets/images/flexbox-chart.png' | url }}" alt="Flexbox Chart">